manifest {
    name            = 'FLAG'
    author          = 'Formbio'
    homePage        = 'https://github.com/formbio/FLAG'
    description     = 'eukaryoteGeneAnnotation'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0dev'
}

// Load base.config by default for all pipelines
includeConfig './modules/nf-modules/nfconf/base.config'

params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    databaseid= "amphibianproteinsuniprot"
    rnadatabaseid = "refseq_rna"
    entapDB = "entapDBs.tar.gz"
    //optional run params
    speciesScientificName='Replace_name'
    runProsplign = 'false'
    lineage = 'mammalia_odb10'
    pretrainedAugustusSpecies = 'human'
    helixerModel = 'vertibrate'
    size = 'normal'
    externalalgo = 'none'
    annotationalgo = 'none'
    proteinalgo = 'none'
    masker                     = 'skip'
    gaps                       = 'false'
    max_time = '30.d'
    output                     = 'annotation'
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes,modules'
}

//includeConfig 'modules/nf-modules/nfconf/databases.config'

profiles {
    docker {
        docker.enabled = true
        // docker.userEmulation = true
    }
    singularity {
        singularity.enabled = true
        singularity.userEmulation = true
    }
    test               { includeConfig 'conf/norun.config' }
    test_small          { includeConfig 'conf/validation.config' }
}

